/* common */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   /* font-size: 100%; */
   font: inherit;
   vertical-align: baseline;
   box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section {
   display: block;
}

ol, ul {
   list-style: none;
}

blockquote,q {
   quotes: none;
}

blockquote:before,blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

a {
   display: block;
   text-decoration: none;
   color: #000;
}

img {
   display: block;
   width: 100%;
}

/* 데스크탑 */
@media (min-width: 1024px) {
   .wrapper {
      background-color: #fff;
   }
}

/* 모바일 */
@media (max-width: 1080px) {
   .wrapper {
      background-color: #ff0000;
   }
}


/* style */

/* 폰트 */

@font-face {
   font-family: 'NotoSansKR-Light';
   src: url('/src/font/NotoSansKR/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
   font-family: 'NotoSansKR-Regular';
   src: url('/src/font/NotoSansKR/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
   font-family: 'NotoSansKR-Medium';
   src: url('/src/font/NotoSansKR/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
   font-family: 'NotoSansKR-Bold';
   src: url('/src/font/NotoSansKR/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
   font-family: 'NotoSans-Light';
   src: url('/src/font/NotoSansEN/NotoSans-Light.ttf') format('truetype');
}

@font-face {
   font-family: 'NotoSans-Medium';
   src: url('/src/font/NotoSansEN/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
   font-family: 'NotoSans-Bold';
   src: url('/src/font/NotoSansEN/NotoSans-Bold.ttf') format('truetype');
}

li {
   list-style: none;
}

/* 헤더 */
header {
   width: 100%;
   position: fixed;
   justify-content: space-between;
   padding-left: 230px;
   align-items: center;
   margin: 0;
   display: flex;
   border-bottom: 1px solid #DCDCDC;
   background-color: white;
   z-index: 999;
}
@media (max-width: 1080px) {
   header {
      width: 100vw;
      position: fixed;
      top: 0;
      height: auto;
      margin: 0 auto;
      padding: 0;
      align-items: center;
      justify-content: space-between;
   }
}

/*body*/
@media (max-width : 1080px) {
   body {
      margin: 0;
      padding: 0;
      width: 100vw;
   }
}

/* 로고 */
.logo_img {
   width: 300px;
}
@media (max-width: 1080px) {
   .logo_img {
      width: 60vw;
   }
}

/* 메뉴바 */
.nav {
   height: 100px;
   background: #fff;
   align-items: center;
   padding-right: 256px;
}
.more-btn {
   display: none;
}
@media (max-width : 1080px) {
   .nav {
      display: none;
      position: fixed;
      padding: 20px;
      top: 0;
      right: 0;
      width: 48vw;
      height: 100vh;
      background-color: aqua;
   }
   .more-btn {
      display: block;
      position: absolute;
      right: 12px;
      top: 8px;
      width: 44px;
      height: 44px;
      border: none;
      border-radius: 9px;
      background-color: transparent;
   }
   .more-btn .hamburger {
      display: block;
      width: 24px;
      height: 24px;
      margin: 0 auto;
      background: url(../../src/img/icon/hamburger.svg) no-repeat center;
      background-size: contain;
   }
}



/* 메뉴 */
ul {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   margin: 35px 0;
   gap: 50px;
   font-family: "NotoSansKR-Regular";
   font-size: 18px;
}

/* 사이드바 */
aside {
   width: 60px;
   height: 500px;
   bottom: 0;
   right: 0;
   padding-top: 150px;
   margin-right: 50px;
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

aside .side_bar li {
   margin-bottom: 15px;
}

/* 사이드바 이미지 크기 조절 */
aside #side_01,
#side_02,
#side_03,
#side_04 {
   background: #6DA9E4;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

aside #side_01 img {
   width: 35px;
   height: 35px;
}

aside #side_02 img {
   width: 40px;
   height: 40px;
}

aside #side_03 img {
   width: 40px;
   height: 40px;
}

aside #side_04 img {
   width: 130px;
   height: 130px;
   margin-top: 1px;
}

/* 홈 */
.background_img {
   padding-top: 55px;
}

.background_img h2.title {
   font-family: NotoSansKR-Regular;
   font-size: 65px;
   text-align: center;
   margin-bottom: 200px;
   letter-spacing: 3px;
   width: 100%;
   position: absolute;
   top: 35%;
   color: white;
}

.background_img h3.sub_title {
   font-family: NotoSansKR-Regular;
   font-size: 43px;
   text-align: center;
   margin-bottom: 200px;
   width: 100%;
   position: absolute;
   top: 50%;
   line-height: 1.3;
   color: white;
}

.background_img h4 {
   width: 100%;
   position: absolute;
   top: 44%;
}

.section_1 .desc {
   width: 100%;
   font-family: NotoSansKR-Light;
   font-size: 20px;
   text-align: center;
   position: absolute;
   top: 71%;
   color: white;
}

.section_1 .line {
   width: 150px;
   border-bottom: 1px solid white;
   position: absolute;
   top: 68.5%;
   left: 46%;
}

.background_img span {
   font-weight: 900;
   color: #6DA9E4;
}

/* 소개 */
.section_2 {
   width: 1392px;
   height: 800px;
}

.section_2 h2.title {
   font-family: NotoSansKR-Medium;
   font-size: 40px;
   text-align: center;
   margin-left: 35%;
   margin-top: 120px;
   letter-spacing: 1px;
}

.section_2 .line {
   width: 50%;
   border-bottom: 1px solid rgb(110, 110, 110);
   position: absolute;
   left: 25%;
   margin-top: 20px;
}

.profile_img {
   width: 21%;
   position: absolute;
   left: 476px;
   margin-top: 90px;
}

.section_2 h3.sub_title {
   font-family: NotoSansKR-Medium;
   font-size: 35px;
   width: 100%;
   position: absolute;
   top: 22%;
   left: 143%;
   letter-spacing: 1px;
}

.section_2 h4.sub_title2 {
   font-family: NotoSansKR-Regular;
   font-size: 22px;
   width: 100%;
   position: absolute;
   top: 35%;
   left: 143.5%;
}

.section_2 .line2 {
   width: 24%;
   border-bottom: 4px solid #6DA9E4;
   position: absolute;
   top: 31%;
   left: 143.5%;
}

.section_2 span {
   font-weight: 900;
   color: #6DA9E4
}

.section_2 .desc {
   font-family: NotoSansKR-Medium;
   font-size: 20px;
   width: 100%;
   position: absolute;
   top: 50%;
   left: 143%;
}

/* 진료과목 */
.section_3 {
   width: 1392px;
   height: 800px;
}

.section_3 h2.title {
   font-family: NotoSansKR-Medium;
   font-size: 40px;
   text-align: center;
   margin-left: 35%;
   margin-top: 50px;
   letter-spacing: 1px;
}

.section_3 .line {
   width: 50%;
   border-bottom: 1px solid rgb(110, 110, 110);
   position: absolute;
   left: 25%;
   margin-top: 20px;
}

.section_3 h3.sub_title {
   font-family: NotoSansKR-Regular;
   font-size: 21px;
   width: 100%;
   position: absolute;
   left: 26.5%;
   margin-top: 40px;
   letter-spacing: 1px;
}

.section_3 span {
   font-weight: 900;
   color: #6DA9E4
}

.section_3 .desc {
   font-family: NotoSansKR-Medium;
   font-size: 20px;
   width: 100%;
   position: absolute;
   top: 50%;
   left: 143%;
}

/* 진료과목 아이콘 */
.icon_img {
   margin-top: 170px;
   margin-left: 340px;
   display: flex;
   justify-content: center;
   gap: 170px
}

.icon_img2 {
   margin-top: 100px;
   margin-left: 510px;
   display: flex;
   justify-content: center;
   gap: 170px
}

.icon_font_container {
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 140px;
   margin-top: 25px;
   margin-left: 250px;
   position: relative;
}

.icon_font {
   font-family: "NotoSansKR-Regular";
   font-size: 20px;
}

.icon_font2 {
   font-family: "NotoSansKR-Regular";
   font-size: 20px;
}

.icon_font_container #icon_font1 {
   margin-left: 35px;
}

.icon_font_container #icon_font2 {
   margin-left: 20px;
}

.icon_font_container #icon_font3 {
   margin-left: 20px;
}

.icon_font_container #icon_font4 {
   margin-right: 7px;
}

.icon_font_container #icon_font5 {
   margin-left: -20px;
}

.icon_font_container #icon_font6 {
   margin-left: -5px;
}

.icon_font_container #icon_font7 {
   margin-left: 50px;
}

.icon_font_container #icon_font8 {
   margin-left: 10px;
}

.icon_img #icon_01,
#icon_02,
#icon_03,
#icon_04 {
   background: #7ac2c7;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon_img2 #icon_05,
#icon_06,
#icon_07,
#icon_08 {
   background: #7ac2c7;
   border-radius: 50%;
   width: 80px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon_img #icon_01 img,
#icon_02 img,
#icon_04 img {
   width: 51px;
   height: 51px;
}

.icon_img #icon_03 img {
   width: 51px;
   height: 51px;
   margin-top: 10px;
}

.icon_img2 #icon_05 img,
#icon_06 img,
#icon_07 img,
#icon_08 img {
   width: 51px;
   height: 51px;
}

/* 진료안내 */
.button_box {
   width: 60px;
   height: 60px;
}

.section_4 {
   width: 1392px;
   height: 800px;
}

.section_4 h2.title {
   font-family: NotoSansKR-Medium;
   font-size: 40px;
   text-align: center;
   margin-left: 35%;
   margin-top: 50px;
   letter-spacing: 1px;
}

.section_4 h3.sub_title2 {
   font-family: NotoSansKR-Medium;
   font-size: 30px;
   color: #6DA9E4;
   margin-left: 45%;
   margin-top: 80px;
   letter-spacing: 1px;
}

.section_4 h3.sub_title3 {
   font-family: NotoSansKR-Medium;
   font-size: 30px;
   color: #6DA9E4;
   margin-left: 45%;
   margin-top: 15%;
   letter-spacing: 1px;
}

.section_4 .line {
   width: 50%;
   border-bottom: 1px solid rgb(110, 110, 110);
   position: absolute;
   left: 25%;
   margin-top: 20px;
}

.section_4 span {
   color: #6DA9E4
}

.section_4 .desc {
   font-family: NotoSansKR-Light;
   font-size: 20px;
   width: 100%;
   margin-left: 630px;
}

/* 둘러보기 */
.section_5 {
   width: 1392px;
   height: 800px;
}

.section_5 h2.title {
   font-family: NotoSansKR-Medium;
   font-size: 40px;
   text-align: center;
   margin-left: 35%;
   margin-top: 50px;
   letter-spacing: 1px;
}

.section_5 .line {
   width: 50%;
   border-bottom: 1px solid rgb(110, 110, 110);
   position: absolute;
   left: 25%;
   margin-top: 20px;
}

.section_5 h3.sub_title {
   font-family: NotoSansKR-Medium;
   font-size: 35px;
   width: 100%;
   letter-spacing: 1px;
}

.section_5 span {
   color: #6DA9E4
}

.section_5 .desc {
   font-family: NotoSansKR-Medium;
   font-size: 20px;
   width: 100%;
   position: absolute;
   top: 50%;
   left: 143%;
}

/* 오시는길 */
.section_6 {
   width: 1392px;
   height: 800px;
}

.section_6 h2.title {
   font-family: NotoSansKR-Medium;
   font-size: 40px;
   text-align: center;
   margin-left: 35%;
   margin-top: 50px;
   letter-spacing: 1px;
}

.section_6 .line {
   width: 50%;
   border-bottom: 1px solid rgb(110, 110, 110);
   position: absolute;
   left: 25%;
   margin-top: 20px;
}

.section_6 h3.sub_title {
   font-family: NotoSansKR-Medium;
   font-size: 35px;
   width: 100%;
   letter-spacing: 1px;
}

.section_6 span {
   color: #6DA9E4
}

.section_6 .desc {
   font-family: NotoSansKR-Medium;
   font-size: 20px;
   width: 100%;
   position: absolute;
   top: 50%;
   left: 143%;
}