/* common */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

img {
  display: block;
  width: 100%;
}
.mobile {
  display: none;
}
/* 모바일 */
@media (max-width: 1080px) {
  .mobile {
    display: flex;
    justify-content: center;
  }
  header {
    width: 100vw;
    height: 6.7vh;
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: space-between;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .nav {
    display: none;
    position: fixed;
    padding: 20px;
    top: 0;
    right: 0;
    width: 48vw;
    height: 100vh;
    background-color: aqua;
  }
  aside {
    display: none;
  }
  .more-btn {
    display: block;
    position: absolute;
    right: 12px;
    top: 8px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 9px;
    background-color: transparent;
  }
  .toNextWrap {
    display: flex;
    justify-content: center;
  }
  .toNext {
    position: fixed;
    top: 90vh;
  }
  .more-btn .hamburger {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background: url(../../src/img/icon/hamburger.svg) no-repeat center;
    background-size: contain;
  }
  .logo_img {
    width: 60vw;
  }
  .side_bar {
    display: none; /*js 작성전*/
    position: fixed;
  }
  .container {
    margin-top: 6.7vh;
  }
  .background_img {
    overflow: hidden;
  }
  .background_img > img {
    position: relative;
    width: auto;
    height: 150vw;
    left: -90vw;
  }
  .background_img > h2 {
    position: relative;
    top: -100vw;
    font-size: 3.2vh;
    color: white;
    text-align: center;
    font-weight: 550;
  }
  .mobile_sub_title1 {
    position: relative;
    top: -89vw;
    font-size: 2.3vh;
    text-align: center;
    color: white;
    font-weight: 500;
  }
  .mobile_sub_title2_1 {
    color: black;
    margin-top: 3vh;
    margin-left: 18vw;
    font-size: 5vw;
    font-weight: 550;
  }
  .mobile_sub_title2_2 {
    margin-top: 1vh;
    margin-left: 18vw;
    font-weight: 550;
    margin-bottom: 2vh;
  }
  .StudyHistory,
  .conferences {
    display: flex;
    margin-left: 19vw;
    margin-bottom: 5vw;
    font-weight: 600;
    font-size: 3vw;
  }
  .StudyHistoryDetails,
  .conferencesHistoryDetails {
    margin-left: 3vw;
  }
  .line2 {
    margin-left: 17vw;
    width: 15vw;
    border-bottom: 2px solid rgb(138, 169, 255);
  }
  .colored_sbtilte {
    color: rgb(138, 169, 255);
    font-weight: 550;
  }
  .line {
    position: relative;
    top: -83vw;
    opacity: 0.5;
    border-bottom: 1px solid white;
    width: 5vw;
    left: 45vw;
  }
  #doctor_img {
    position: relative;
    width: 50vw;
    left: 25vw;
  }
  .line2Title {
    position: relative;
    opacity: 0.5;
    border-bottom: 1.5px solid gray;
    margin-bottom: 3vw;
    width: 80vw;
    left: 10vw;
  }
  .mobiledesc1 {
    position: relative;
    display: flex;
    top: -81vw;
    justify-self: center;
  }
  #bannerDesc {
    width: 82%;
    font-size: 3vw;
    color: white;
    margin: 0 auto;
    font-weight: 550;
  }
  .title {
    text-align: center;
  }
  .sectionTitle {
    font-size: 5vw;
    margin-bottom: 2vh;
    font-weight: 550;
  }
  .sub_title2 {
    color: black;
  }
}

/* style */

/* 폰트 */

@font-face {
  font-family: "NotoSansKR-Light";
  src: url("/src/font/NotoSansKR/NotoSansKR-Light.otf") format("truetype");
}

@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("/src/font/NotoSansKR/NotoSansKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("/src/font/NotoSansKR/NotoSansKR-Medium.otf") format("truetype");
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("/src/font/NotoSansKR/NotoSansKR-Bold.otf") format("truetype");
}

@font-face {
  font-family: "NotoSans-Light";
  src: url("/src/font/NotoSansEN/NotoSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans-Medium";
  src: url("/src/font/NotoSansEN/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("/src/font/NotoSansEN/NotoSans-Bold.ttf") format("truetype");
}

li {
  list-style: none;
}

/* 헤더 */
header {
  width: 1903px;
  position: fixed;
  /* justify-content: space-between; */
  /* padding-left: 230px; */
  /* align-items: center; */
  margin: 0;
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  background-color: white;
  z-index: 999;
}

/* 로고 */
.logo_img {
  width: 300px;
  margin-top: 15px;
  margin-left: 200px;
}

/* 메뉴바 */
.nav {
  height: 100px;
  background: #fff;
  margin-left: 570px;
}

.header2 {
  display: flex;
}

.more-btn {
  display: none;
}

.nav ul li.on a {
  color: #6da9e4;
}

/* 메뉴 폰트 */
.nav ul {
  display: flex;
  align-items: center;
  margin: 35px;
  gap: 50px;
  font-family: "NotoSansKR-Regular";
  font-size: 18px;
}

/* 사이드바 */
aside {
  width: 60px;
  height: 500px;
  bottom: 0;
  right: 0;
  padding-top: 125px;
  margin-right: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999;
}

aside .side_bar li {
  margin-bottom: 15px;
}

/* 사이드바 이미지 크기 조절 */
aside #side_01,
#side_02,
#side_03,
#side_04 {
  background: #6da9e4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside #side_01 img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

aside #side_02 img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

aside #side_03 img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

aside #side_04 img {
  width: 40px;
  height: 40px;
  margin-top: 1px;
  cursor: pointer;
}

/* 섹션 페이드인 페이드아웃 효과*/

.section.section_2,
.section.section_3,
.section.section_4,
.section.section_5,
.section.section_6 {
  opacity: 1; /* 초기에 숨김 */
  /* transform: translateY(-30px); 초기 위치를 위로 이동시킴 */
  /* transition: opacity 0.5s ease-in, transform 0.5s ease-in; opacity와 transform에 애니메이션 효과 적용 */
}

.section.section_2.fade-in,
.section.section_3.fade-in,
.section.section_4.fade-in,
.section.section_5.fade-in,
.section.section_6.fade-in {
  opacity: 1;
  transform: translateY(
    0
  ); /* 페이드인이 완료되면 초기 위치에서 원래 위치로 이동 */
}

.section {
  height: 930px;
}
/* section_1 홈 */

.section_1 {
  position: relative;
  width: 1903px;
}

.section_1 h2.title {
  position: absolute;
  font-family: NotoSansKR-Regular;
  font-size: 65px;
  text-align: center;
  bottom: 500px;
  left: 695px;
  letter-spacing: 3px;
  color: white;
  z-index: 990;
}

.section_1 h3.sub_title {
  position: absolute;
  font-family: NotoSansKR-Regular;
  font-size: 43px;
  text-align: center;
  line-height: 1.3;
  left: 620px;
  bottom: 320px;
  color: white;
  z-index: 990;
}

.section_1 .desc {
  position: absolute;
  font-family: NotoSansKR-Light;
  font-size: 20px;
  text-align: center;
  left: 600px;
  bottom: 220px;
  color: white;
  z-index: 990;
}

.section_1 .line {
  width: 150px;
  border-bottom: 1px solid white;
  position: relative;
  bottom: 270px;
  left: 890px;
  z-index: 990;
}

.section_1 span {
  font-weight: 900;
  color: #6da9e4;
}

/* 홈 슬라이드 */

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 가로 스크롤 숨김 */
}

.swiper-slide {
  width: 100%; /* 가로 방향으로 하나의 슬라이드만 보이도록 설정 */
  height: 100%;
}

.section_1 .swiper-pagination {
  position: absolute;
  margin-bottom: 180px;
  color: #6da9e4;
}

/* section_2 의료진 소개 */

.section_2 {
  width: 1903px;
}

.section_2 .sub_title2 {
  font-size: 40px;
}

.section_2 h2.title {
  font-family: NotoSansKR-Medium;
  font-size: 40px;
  text-align: center;
  padding-top: 160px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
}

.section_2 .line {
  width: 1000px;
  border-bottom: 1px solid rgb(110, 110, 110);
  position: absolute;
  left: 465px;
  margin-top: 20px;
}

.profile_img {
  width: 350px;
  position: absolute;
  left: 550px;
  margin-top: 130px;
}

.section_2 h3.sub_title {
  font-family: NotoSansKR-Bold;
  font-size: 35px;
  width: 100%;
  position: absolute;
  top: -40px;
  left: 143%;
  letter-spacing: 1px;
}

.section_2 .sub_title2 {
  font-family: NotoSansKR-Regular;
  font-size: 20px;
  width: 100%;
  position: absolute;
  top: 18px;
  left: 100px;
}

.section_2 span {
  font-weight: 900;
  color: #6da9e4;
}

.listTitle {
  font-weight: 600;
  font-size: 20px;
  color: #6da9e4;
  margin-bottom: 10px;
}

.section_2 .desc {
  font-family: NotoSansKR-right;
  font-size: 17px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 143%;
  line-height: 1.5;
}

/* section_3 진료과목 */

.section_3 {
  width: 1903px;
}

.section_3 h2.title {
  font-family: NotoSansKR-Medium;
  font-size: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  letter-spacing: 1px;
}

.section_3 .line {
  width: 1000px;
  border-bottom: 1px solid rgb(110, 110, 110);
  position: absolute;
  left: 465px;
  margin-top: 20px;
}

.section_3 h3.sub_title {
  font-family: NotoSansKR-Regular;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 550px;
  letter-spacing: 1px;
}

.section_3 .sub_title span {
  font-weight: 900;
  color: #6da9e4;
}

/* 진료과목 아이콘 */

.icon_box ul {
  display: flex;
  justify-content: center;
  gap: 250px;
  margin-top: 40px;
}

.icon_img2 {
  margin-top: 210px;
}

.icon_box span {
  width: 200px;
  font-family: "NotoSansKR-Regular";
  display: block;
  font-size: 24px;
  text-align: center;
  margin-top: 25px;
  margin-left: -59px;
}

/* 내용 가로 정렬 */
.icon_desc {
  font-size: 17px;
  width: 300px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-left: -10px;
}

.icon_font {
  padding-bottom: 10px;
}

.icon_font2 {
  font-family: "NotoSansKR-Regular";
  display: block;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.icon_img #icon_01,
#icon_02,
#icon_03,
#icon_04 {
  background: #7ac2c7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

#icon_font3 {
  margin-top: 20px;
}
.icon_img2 #icon_05,
#icon_06,
#icon_07,
#icon_08 {
  background: #7ac2c7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.icon_img_size1 {
  width: 60px;
  margin-left: 11px;
  margin-top: 6px;
}
.icon_img_size2 {
  width: 57px;
  margin-left: 11px;
  margin-top: 10px;
}
.icon_img_size3 {
  width: 57px;
  margin-left: 12px;
  margin-top: 14px;
}
.icon_img_size4 {
  width: 57px;
  margin-left: 12px;
  margin-top: 10px;
}

.icon_img_size5 {
  width: 57px;
  margin-left: 12px;
  margin-top: 10px;
}
.icon_img_size6 {
  width: 57px;
  margin-left: 12px;
  margin-top: 10px;
}
.icon_img_size7 {
  width: 57px;
  margin-left: 12px;
  margin-top: 11px;
}
.icon_img_size8 {
  width: 57px;
  margin-left: 12px;
  margin-top: 10px;
}

/* section_4 진료안내 */

.section_4 {
  width: 1903px;
}

.button_box {
  width: 60px;
  height: 60px;
}

.section_4 h2.title {
  font-family: NotoSansKR-Medium;
  font-size: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  padding-top: 150px;
}

.section_4 h3.sub_title2 {
  font-family: NotoSansKR-Medium;
  font-size: 30px;
  color: #6da9e4;
  margin-left: 630px;
  margin-top: 40px;
  letter-spacing: 1px;
}

.section_4 h3.sub_title3 {
  font-family: NotoSansKR-Medium;
  font-size: 30px;
  color: #6da9e4;
  margin-left: 630px;
  margin-top: 50px;
  letter-spacing: 1px;
}

.section_4 .line {
  width: 1000px;
  border-bottom: 1px solid rgb(110, 110, 110);
  position: absolute;
  left: 465px;
  margin-top: 20px;
}

.section_4 span {
  font-family: NotoSansKR-Regular;
  letter-spacing: 1.5px;
}

.section_4 .desc {
  font-family: NotoSansKR-Light;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 630px;
  line-height: 45px;
}

.space {
  margin-left: 180px;
}

#desc2 {
  margin-top: 15px;
}

.break {
  color: red;
}

/* 진료 예약 버튼  */

.button_box li {
  width: 500px;
  margin-top: 35px;
  margin-left: 630px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.button_list {
  display: flex;
}

.call_btn {
  background-color: #7ac2c7;
}

.naver_btn {
  margin-left: -300px;
  background-color: #03c75a;
}

.btn_size {
  width: 65px;
  margin-top: 15px;
  margin-left: 18px;
}

.button_box .call_btn,
.button_box .naver_btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn_font1 {
  font-size: 25px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 108px;
  margin-top: -50px;
}

.btn_font2 {
  font-size: 25px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
  margin-top: -50px;
}

/* section_5 둘러보기 */

.section_5 {
  width: 1903px;
}

.section_5 h2.title {
  font-family: NotoSansKR-Medium;
  font-size: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  padding-top: 150px;
}

.section_5 .line {
  width: 1000px;
  border-bottom: 1px solid rgb(110, 110, 110);
  position: absolute;
  left: 465px;
  margin-top: 20px;
}

.section_5 h3.sub_title {
  font-family: NotoSansKR-Regular;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 1px;
}

.section_5 span {
  color: #6da9e4;
}

.section_5 .desc {
  font-family: NotoSansKR-Medium;
  font-size: 20px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 143%;
}

.section_5 .swiper-slide2 {
  margin-top: 40px;
  margin-left: 550px;
  width: 800px;
}

.section_5 .swiper-pagination {
  margin-top: 15px;
}

.section_5 .swiper-button-prev {
  margin-top: -310px;
  margin-left: -80px;
}

.section_5 .swiper-button-next {
  margin-top: -45px;
  margin-left: 850px;
}

/* section_6 오시는길 */

.section_6 {
  width: 1903px;
  flex-direction: column;
  align-items: flex-start;
}

.section_6 h2.title {
  font-family: NotoSansKR-Medium;
  font-size: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  padding-top: 150px;
}

.section_6 .line {
  width: 50%;
  border-bottom: 1px solid rgb(110, 110, 110);
  position: absolute;
  left: 465px;
  margin-top: 20px;
}

.section_6 h3.sub_title {
  font-family: NotoSansKR-Medium;
  font-size: 30px;
  color: #6da9e4;
  margin-left: 480px;
  letter-spacing: 1px;
}

.section_6 h3.sub_title2 {
  font-family: NotoSansKR-Medium;
  font-size: 30px;
  color: #6da9e4;
  letter-spacing: 1px;
}

.address_list {
  margin-top: 30px;
  margin-left: 530px;
  gap: 250px;
  display: flex;
}

.address_list li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.address_list h3.sub_title,
.address_list p.desc1,
.address_list h3.sub_title2,
.address_list p.desc2 {
  margin: 0;
}

.address_list p.desc1,
.address_list p.desc2 {
  margin-top: 100px;
  margin-left: -120px;
  font-size: 20px;
}

.section_6 span {
  color: #6da9e4;
}

.section_6 .desc {
  font-family: NotoSansKR-Medium;
  font-size: 20px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 143%;
}

/* 카피라이터 */
footer {
  background-color: #ececec;
  border-top: 1px solid #dcdcdc;
  padding: 30px;

  height: 200px;
  display: flex;
  flex-direction: column;
}

footer img {
  width: 300px;
  display: block;
  margin: 0 auto;
  color: #4d4d4d;
}

footer .copyright_line {
  width: 700px;
  border-bottom: 1px solid #9c9c9c;
  padding: 5px;
  margin: 0 auto;
}

footer p {
  text-align: center;
  font-size: 14px;
  color: #4d4d4d;
  margin-top: 30px;
}

#mapContainer{
  display: flex;
  justify-content: center;
}