/* common */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
ol, ul {
list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
img {
  display: block;
  width: 100%;
}

/* 데스크탑 */
@media (min-width: 1024px) {
   .wrapper { background-color: #fff; }
}

/* 모바일 */
@media (max-width: 1023px) { 
   .wrapper { background-color: #fff; }
}


/* style */

/* 폰트 */

@font-face {
	font-family: 'NotoSansKR-Light';
	src: url('/src/font/NotoSansKR/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
	font-family: 'NotoSansKR-Regular';
	src: url('/src/font/NotoSansKR/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
	font-family: 'NotoSansKR-Medium';
	src: url('/src/font/NotoSansKR/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
	font-family: 'NotoSansKR-Bold';
	src: url('/src/font/NotoSansKR/NotoSansKR-Bold.otf') format('truetype');
}
@font-face {
	font-family: 'NotoSans-Light';
	src: url('/src/font/NotoSansEN/NotoSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSans-Medium';
	src: url('/src/font/NotoSansEN/NotoSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSans-Bold';
	src: url('/src/font/NotoSansEN/NotoSans-Bold.ttf') format('truetype');
}

li { list-style: none; }

/* 헤더 */
header { width: 100%; position: fixed; justify-content: space-between; 
   align-items: center; margin: 0; display: flex; border-bottom: 1px solid #DCDCDC; }

/* 메뉴바 */
.nav { height: 100px; background: #fff; align-items: center;}

/* 로고 */
.logo_img { width: 300px;}

/* 메뉴 */
ul { width: 100%; display: flex; justify-content: flex-end;
    gap: 50px; font-family: "NotoSansKR-Regular"; font-size: 17px}

   